section {
    border: 1px solid black;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    margin: 20px 10px;
    background-color: whitesmoke;
}

ol{
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
a:hover{
    color: blue;
}