    
    form {
        width: 900px;
        margin: auto;
    }
    fieldset{
        margin: 35px 35px;
        background-color: whitesmoke;
    }
    h1{
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    p{
        letter-spacing: 2px;
        word-spacing: 1px;
        line-height: 0;
    }
    
    label{
        padding-right: 50px;
        font-weight: bold;
    }
    
    input{
        margin-left: 40px;
        margin-top: 30px;
    }
    textarea {
        margin-top: 10px;
    }
    input[type=radio]{
        margin-left: 0;
        
        
    }
    input[type=button] {
        width: 60px;
        box-sizing: border-box;
        margin: 8px 0;
        padding: 12px 12px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: blue;
    }