body {
	background-image: url(../img/pattern.png);
	font: 16px/28px arial, sans-serif;
	height: 900px;
}

header {
	background-color: #ffffff;
	position: fixed;
	height: 55px;
	width: 100%;
	top: 0;
	left: 0;
}
.menu a {
	text-decoration: none;
	list-style-type: none;
	color: blue;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
	float: right;
	margin-right: 15px;
	font-size: 20px;
}

 h3 {
 	font-family: sans-serif; 
 	font-size: 25px;
 }

 p {
	font-size: 20px;
	text-align: justify;
	margin-bottom: 20px;

 }

.menu {
	margin-top: -70px;
}

.menu a:hover {
	background-color: #63a5c9;
	color: blue;
}

h1 {
	margin: 30px 0 0 220px;
	float: left;


}

#article-list {

	width: 1000px;
	padding: 50px;
	background-color: white;
	box-sizing: border-box;
	margin: 60px auto;


}

footer {
	background-color: black;
	position: absolute;
	left: 0;
	width: 100%;
/*	bottom: 0;*/
	height: 50px;
	margin-top: -40px;


}
h5 {
	font-family: sans-serif;
	color: #eaeaea;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;

}

  

